



.font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.NAVIGATION{
    display: flex;
     
    justify-content: space-between;
    margin: 0 80px 0 80px;
    align-items: center;
}
.logo{
    display: flex;
}
.home{
    display: flex;
    text-decoration: none;
    
}
.a{
    margin-right: 30px;
    list-style: none;
    

}
.button{

    background-color: chocolate;
    border-radius: 5px;
    
}
.banner{
    display: flex;
    margin: 50px 80px;
    justify-content: space-between;
    align-items: center;
}

.now{
    background-color: yellowgreen;
    border-radius: 5px;

    
}

.ban{
    width: 100%;
}


@media screen and (max-width: 576px){
    .banner{
        flex-direction: column-reverse;
    }
    .home{
        display: none;
    }
    .button{
        display: none;
    }
    
}

@media screen and (min-width:576px) {
    .menu{
        display: none;
    }
    
}