



.font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.NAVIGATION{
    display: flex;
     
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.logo{
    display: flex;
}
.home{
    display: flex;
    text-decoration: none;
    
}
.a{
    margin-right: 30px;
    list-style: none;
    

}
.button{

    background-color: chocolate;
    border-radius: 5px;
    
}
.banner{
    display: flex;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
    
}

.now{
    background-color: yellowgreen;
    border-radius: 5px;

    
}

.ban{
    width: 100%;
}
.containor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px auto;
    justify-items: center;

}

.card{  width: 300px;
    height: 400px;
    background: linear-gradient(
        red,yellowgreen
    );
    border-radius: 5px;
    
    text-align: center;
    align-content: center;
    

    
}

.card-1{ width: 300px;
    height: 400px;
   
    background: linear-gradient(
        pink, white
    );
    border-radius: 5px;
    
    text-align: center;
    align-content: center;
}

.card-2{
    width: 300px;
    height: 400px;

    background: linear-gradient(
    blue,purple
    );
    border-radius: 5px;
    
    text-align: center;
    align-content: center;
}





@media screen and (max-width: 576px){
    .banner{
        flex-direction: column-reverse;
        border-top: 2px solid red;
       align-items: center;
       justify-content: center;
       text-align: center;
    }
    .home{
        display: none;
    }
    .button{
        display: none;
    }

        .containor{
        
            grid-template-columns:1fr;
            width: 100%;
            gap: 30px;
        }
    
}

@media screen and (min-width:576px) {
    .menu{
        display: none;
    }
    
}